body {
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}

#banner {
    width: 100%
}

.titulo-principal {
    text-transform: uppercase;
    text-align: center;
    text-size-adjust: 100;
    color: #0a1b31;
    background-color: #f0f8ff;
    padding: 50px;
    margin: 0px;
}

.titulo2 {
    text-align: center;
    color: #0a1b31;
    margin: 0px;
}

.principal {
    text-align: center;
    background-color: #f0f8ff;
    padding:40px;
    margin: 0px;
}

button {
    background-color: #f0f8ff;
    text-align: center;
    width: 150px;
    height: 75px;
    box-shadow: 5px 5px 10px #8d8d8d;
    display: block;
    margin: auto;
    border-width: 1px;
}

a {
    color: #000;
    text-decoration: none;
}

.meu-botao:hover a {
  color: dodgerblue;
  background-color: #f0f8ff;
}

.fundo {
    background-color:#f0f8ff;
}