body {
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}

#banner {
    width: 100%
}

.titulo-principal {
    text-transform: uppercase;
    text-align: center;
    text-size-adjust: 100;
    color: #0a1b31;
    background-color: #f0f8ff;
    padding: 50px;
    margin: 0px;
}

.titulo2 {
    text-align: center;
    color: #0a1b31;
    margin: 0px;
}

.principal {
    text-align: center;
    background-color: #f0f8ff;
    padding:40px;
    margin: 0px;
}

button {
    background-color: rgb(190, 213, 255);
    text-align: center;
    box-shadow;
    display: block;
    margin: auto;
}

a {
    color: #000;
    text-decoration: none;
}

a:hover {
    color: dodgerblue;
    background-color: #f0f8ff;
}
